*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 1275px;
    margin: 0 auto;
}

html{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;
    color:black;
    background-color:#E6E6E6 ;
    text-rendering: optimizeLegibility;
}
body{
    background-color: white;
    margin-bottom: 20px;
    overflow-x: hidden;
}
.logo{
    width: 70px;
    margin-left: 30px;
    margin-top: 5px;
    float: left ;
}
/*---------------mobile-nav-icon--------------------*/
.mobile-nav-icon{
    font-size:135% ;
    color: #585858;
    position: absolute;
    right: 160px;
    top: 28px;
    display: none;
}
.anh1{
    width: 1260px;
    margin-left: 5px;;
}
.menu{
    list-style-type: none;
    width: 62%;
    margin-top: 3px;
    margin-right: 30px;
}
.menu li{
    display: inline;
    line-height: 80px;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.menu li a{
    text-decoration: none;
    color:#595557;
    font-size:  110%; 
    font-weight: 500;
}
.menu li a:hover{
    transition: border-bottom 2s;
    color:rgb(5, 172, 228);
 
}
.clearfix:after{
    content: " ";
    display: table;
    clear: both;
}

header{
    background-color:white;
}
  
.anh1{
    position: relative;
    text-align: center ;
}
.row{
    font-size: 14px;
    width: 1225px;
    margin: 0 auto;
    line-height: 150%;
    margin-bottom: 40px;
    
}
h2{
    text-transform: uppercase;
    letter-spacing:  0.5px;
    color: #595557 ;
    display: inline;
    padding: 65px;
    margin-top: 150px;
}
.picture-title{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 90%;
    text-align: center;
}
.about-picture img{
    width: 90%;
}
.btn{
    text-decoration: none;
    color:#595557;
    background-color: darksalmon;
    padding: 12px 25px;
    border-radius: 10px;
    margin-left: 80px;
    text-align: center;
}
.btn1{
    text-decoration: none;
    color:white;
    font-weight: 540;
    background-color:#585858;
    padding: 16px 25px;
    margin-left: 39%;
    text-align: center;
}

.btn:hover,
.btn:active{
    background-color:#585858 ;
    color: white;
    transition: all .2s;
    transform: scale(1 1);
    display:block; margin-left: 20%; margin-right: 20%; 
}
.btn1:hover,
.btn1:active{
    background-color:darksalmon;
    color: white;
}
h3{
    margin-top: -30px;
    padding-left: 37%;
    font-size: 20px;      
}
.lol{
    padding-left: 40%;
    margin-bottom: 15px;
    margin-top: 5px;
}
.small-icon{
color:#585858;
font-size: 200%;
}
.test-section{
    height: 230px;
    width: 1275px;
    background-color: #f0f0ec;
}
.footer-3{
    margin-top: 50px;
    font-size: 15px;
    list-style-type: none;
    line-height: 140%;
    padding-left: 50px;
}
.footer-class li{
list-style-type: none;
   margin-left: 170px;
    
}
.button{
    height: 120px;
    padding: 20px;
    padding-top: 50px;
}
.elementor-1{
    width: 1120px;
    padding-bottom: 10pxpx;
}
footer{
    background-color:black ;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}
/*-----------------------------------------------------*/
/*----------------------------MEDIA -------------------*/
/*--------------------------------------------------------*/

/*----------------   CATEGORY   -----------------------*/
.container-category{
    padding: 50px 50px 30px 30px ;
    overflow-x: hidden;
}
.contairner-cater-left{
    width:23% ;
    padding-right: 30px;
    box-shadow: 1px 0px 0px #cacac8;
    float: left;
}
.contairner-cater-left>ul>li{
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 50px;
    text-transform: uppercase;
    list-style:none;
}
.contairner-category-left-li ul li{
    list-style: none;

}
/*----  li  img  -----*/
.left-li-1{
    width: 80px;
    height: 80px;
    padding-right: 10px;
    width: 40%;
    float: left;
}
.product-title{
   font-size: 13px;
   width: 60%;
   padding-bottom: 25px;
   line-height: 20px;
   float: left;
  
}
.cotairner-cater-right{
    width:70% ;
    float: left;
}
/*-----   BUTTON   ----*/
.contairner-category-left-li input{
    width: 100%;
    padding: 10px 15px;
    border:1px solid #cacac8;
    color:#99998f;
}
.contairner-category-left-li button{
    padding: 10px 20px ;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 135px;
    background-color: rgba(49, 45, 45, 0.986);
    color: ghostwhite;
    letter-spacing: 0.2px;
    font-weight: 600;
}
.contairner-category-left-li button:hover,
.contairner-category-left-li button :active{
    background-color:rgb(19, 223, 223);
    color: black;
    cursor: pointer;
}
/*---------------- RIGHT  ----------------*/
.category-right select {
    padding: 10px 15px;
    margin-left: 30px;
    margin-bottom: 20px;
    border:1px solid #cacac8;
    color:#99998f;
}
.category-icon{
    margin-left: 50px;
}
.small-picture{
    padding-left: 25px;
}
.small-picture-overlay:hover{
    opacity: 1;
}
.btn2{
    text-decoration: none;
    color:#595557;
    border: 2px solid rgb(27, 202, 202);
    padding: 12px 25px;
    border-radius: 10px;
    margin-left: 80px;
    text-align: center;
}
.btn2:hover,
.btn2:active{
    background-color:#585858 ;
    color: white;
}
/*======       SỰ KIỆN      =======*/
.catelogy-right-bottom-item{
    justify-content: space-between;
    margin-left: 1000px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 2px;
}
.catelogy-right-bottom-item a{
    text-decoration: none;
}
.catelogy-right-bottom-item :hover{
    color:rgb(19, 223, 223) ;
}


/*---------    PRODUCT     ---------*/
.product{
    padding:50px 0 ;
}
.product-content-left{
    width: 45%;
   float: left;
}
.content-left-big-img{
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.content-left-big-img img{
    width: 100%;
}
.content-left-small-img img{
    padding: 10px;
    width: 120px;
    height: 120px;
}
.product-content-right{
    width: 53%;
    float: left;
}
/*---------     PRODUCT - RIGHT     ---------*/
.product-content-right-name{
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 35px;
    margin-bottom: 20px;
}
.price{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 1px #cacac8;
}
.price-old{
    color: #cacac8;
    font-size:20px ;
    padding-right: 15px;
}
.quantity{
    margin-top: 20px;
    margin-bottom: 20px;
}
.quantity input{
    width: 60px;
    padding: 10px 10px;
    margin-right: 15px;
}
.add-tool{
    text-decoration: none;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 600;
    color:white;
    background-color:#595557;   
}
.add-tool:hover,
.add-tool:active{
    background-color:darkturquoise;
    color: black;
}
.buy-now{
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color:white;
    background-color:#595557;
}
.buy-now:hover,
.buy-now:active{
    background-color:darkturquoise;
    color: black;
}
/*`````````````````````````````*/
.product-right-meta{
    margin-top: 30px;
}
.meta-1{
    color: #cacac8;
    text-decoration: none;
}
.meta-1:hover,
.meta-1:active{
    color:lightskyblue;
}
/*----------    BOTTOM      ------------*/
.product-content-bottom button{
    display: flex;
    padding: 10px 70px;
    justify-content:center;
    line-height: 20px;
    color: white;
    background-color:#595557 ;
}
.product-content-bottom button:hover,
.product-content-bottom button:active{
    background-color:white ;
    border-radius: 10px;
    color:black;
    border: 3px solid darkturquoise;
}
.product-content-bottom-text{
    margin-top: 70px;
    width: 1200px;
    display: none;
}
.product-content-bottom-text h3{
    padding-left: 0px;
    margin-bottom: 22px;
}
.product-content-bottom-text ul{
    font-size: 14px;
}
.product-content-bottom-text>ul>li{
    color:#797275;
    list-style: none;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size:15px ;
}
.product-content-bottom-text>ul>ul>li{
    color:#a8a8a0 ;
    line-height: 25px;
    padding-left: 25px;
}



/***----------   BUY-NOW -CART   ----------***/
.cart-container-top table{
    width: 700px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color:aliceblue;
    text-align: center;
}
.cart-container-top table thead tr {
    display:block;

}
.cart-container-top table tr th {
    padding: 10px 30px;
}
