/*      Big tablet to 1200px   */
@media only screen and (max-width:1200px) {
    html {
        font-size: 15px;
    }
}

/*      Big tablet to 1200px   */
@media only screen and (max-width:1023px) {}

/*      Big tablet to 1200px   */
@media only screen and (max-width:767px) {}

/*      Big tablet to 480px   */
@media only screen and (max-width:420px) {
    html {
        font-size: 12px;
        margin: 0 auto;
    }

    body {
        width: 500px;
    }

    header {
        width: 450px;
        margin:0 auto
    }

    .row {
        font-size: 12px;
    }

    .logo {
        margin-left: 2px;
        width: 90px;
        margin-right: 400px;
    }
    .mobile-nav-icon{
        display: block;
        font-size: 250%;
        width: 150px;
        position: absolute;
        left: 80%;
        top:40px;
    }
    .menu {
        margin-left: 5px;
        width: 400px;
        display: none;
    }

    .menu li {
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 0px;
        display: block;
        width: 450px;
        margin: 0px;
    }

    .header-picture {
        width: 440px;
        margin: 0px;
    }

    .anh1 {
        width: 460px;
    }

    .row {
        margin-left: 10px;
        margin-bottom: 10px;
        width: 400px;
    }
    
    .small-icon {
        margin-top: 13px;
    }

    h2 {
        display: block;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        width: 400px;
        margin: 0px;
    }

    .h2-1 {
        text-align: center;
        width: 200px;
    }
    

    .picture-title {
        width: 420px;
        margin-left: 1px;
        text-align: center;
    }

    .about-picture {
        width: 400px;
    }

    .small-picture {
        
        margin-left: 17%;
        padding-top: 40px;

    }
    .lol{
        margin-left: 1%;
    }
    .btn {
        margin-left: 110px;
        margin-left: 33%;
    }
    .btn :hover,
    .btn :active{
        transition: all .2s;
        transform: scale(1 1);
        display:block;
    }
    
    .btn1 {
        width: 390px;
        font-weight: 600;
        padding: 17px 60px;
        margin-left: 15%;
    }

    .elementor {
        width: 390px;
    }

    .elementor-1 {
        width: 390px;
        margin-left: 45px;
    }

    .test-section {
        height: 500px;
        width: 500px;
    }

    .footer-3 {
        font-size: 11px;
        line-height: 25px;
    }

    .footer-class li {
        margin-left: 0px;
    }

    footer {
        padding: 10px;
        font-size: 11px;
        width: 500px;
    }

    footer p {
        width: 500px;
        text-align: center;
    }
}