strike{
    color:darkgreen;
}
u{
    color:darkgreen;
    font-size: 20px;

}
h1{
    font-size: 57px;
}
h2{
    color: rgb(34, 139, 34);
    font-size: 17px;
    margin: 0;
    padding: 0;
}
h1{
    border: 3.5px solid seagreen ;
    padding-left: 373px;
    margin: 30px;
}
#anh2{
    position: relative;
    left: 10px;
}
.anh3{
    position: relative;
    left: 10x;
}
#anh4{
    position: relative;
    left: 10px;
}
.bocuc{
    width: 1140px;
    margin:0 auto;
}

.giua{
    width: 75%;
    float:left;
    padding-top: 25px;
}
.duoi{
    width: 25%;
    float: left;
    padding-top: 50px;
}
.mot{
    margin-bottom: 15px;
    margin-top: 15px;
}
.hai{
    margin-bottom: 15px;
}
.ba{
    margin-bottom: 25px;
}


